
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Pacifico&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252a;
}
/* nav-bar section */
li, a, button{
    font-family:"kanit",sans-serif;
    font-weight: 900;
    font-size:1em;
    color: lightblue;
    text-decoration: none;

    
}

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px ;
    background-color: rgb(28, 50, 50); 
}

.logo{
    cursor:pointer;
    border-radius: 15px 15px 15px 15px;


}

.navContainer{
    list-style: none;

}

.navContainer li{

    display: inline-block;
    padding: 0px 20px;


}

.navContainer li a{

    transition: all 0.3s ease 0s;
}

.navContainer li a:hover{

    color: rgb(0, 136, 169,1) ;
}

button{

    padding: 9px 25px;
    background-color: rgb(0, 136, 169,1);
    border:none;
    /* border-radius:50px; */
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover{

    color: rgb(0, 13, 16,0.8);
}
/* end on nav-section */




/* introduction section */
.name-sec{
    display: flex;
    justify-content: center;
    padding: 28px;
    margin: 5%;
}


.engineer-sec{

    display: flex;
    padding: 9px;
    font-size: 2em;
    justify-content: center;
    flex-wrap: wrap;
   
}

.bootcamp-content{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border: solid 3px lightblue;
    color: white;
    padding:30px;
}



/* cards section */


.week-grid{
    display: flex ;
    grid-template-columns: repeat(auto-fit,minmax(300, 1fr));
    gap: 1rem;
    justify-content: center;

}

.week-total{
   background: rgb(0, 136, 169,1) ;
   padding: 1rem;
   border: 1px;
   border-radius: .25rem;
   max-width: 300px;
}


.weeks-header{
    font-size: 1.5rem;
    margin-bottom: .5rem;


}

.weeks-body{

    font-size: .9rem;


}

.Weeks-footer{
    margin-top: 1rem;

}



/* card button */
.btn{

    padding: .5em .75em;
    background-color: rgb(0, 136, 169,1);
    border:none;
    font-size: 1rem;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    justify-content: center;
}


/* .btn-Next-outline{


} */





