
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Pacifico&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252a;
}
/* nav-bar section */
li, a, button{
    font-family:"kanit",sans-serif;
    font-weight: 900;
    font-size:1em;
    color: lightblue;
    text-decoration: none;

    
}

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px ;
     background-color: rgb(28, 50, 50); 
}

.logo{
    cursor:pointer;
    border-radius: 15px 15px 15px 15px;


}

.navContainer{
    list-style: none;

}

.navContainer li{

    display: inline-block;
    padding: 0px 20px;


}

.navContainer li a{

    transition: all 0.3s ease 0s;
}

.navContainer li a:hover{

    color: rgb(0, 136, 169,1) ;
}

button{

    padding: 9px 25px;
    background-color: rgb(0, 136, 169,1);
    border:none;
    /* border-radius:50px; */
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover{

    color: rgb(0, 13, 16,0.8); */
}
/* end on nav-section */




/* introduction section */

    display: flex;
    justify-content: center;
    padding: 28px;
    margin: 5%;
}


.engineer-sec{

    display: flex;
    padding: 9px;
    font-size: 2em;
    
   
}

 

